.family-box{
    background: #F5F6F8;
    /*max-width: 500px;*/
    min-height: 400px;
}
.family-users{
    max-height: 290px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.family-user-box{
    max-width: 430px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    /*margin: 16px 0;*/
    margin-bottom: 10px;
}
.family-users::-webkit-scrollbar {
    width: 5px;
}
.family-users::-webkit-scrollbar-track {
    background: #E8E8E8;
}
.family-users::-webkit-scrollbar-thumb {
    background: #232E3E;
    opacity: 0.5;
}
.blue-dark-color{
    background: #CAD7F5;
}
.blue-color{
    background: #DEE8FF;
}
.yellow-color{
    background: #F8991F;
}
.Admin-head{
    color: #FFFFFF;
}
@media (max-width: 428px) {
    .inner-text{
        line-height: 1 !important;
    }
}
.arrow{
    position: relative;
}
.arrow::after{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid #F8991F;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -25%;
    left: 40%;
}